* {
    font-family: monospace;
}

body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}

.colors {
    color: rebeccapurple;
    font-weight: bold;
}

table {
    border: 10px solid rgb(14, 89, 124);
    background-color: rgba(5, 130, 161, 0.2);
    margin: auto;
}

th {
    border: 1.5px solid rgb(14, 89, 124);
    background-color: rgba(5, 130, 161, 0.493);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

td {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.DarkSlateGrey-block {
    width: 75px;
    height: 20px;
    background-color: darkslategray;
}

.rgb-color {
    width: 75px;
    height: 20px;
    background-color: rgb(10, 30, 40)
}

.hex-color {
    width: 75px;
    height: 20px;
    background-color: #f7a6d3
}