/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}


/* Navigation */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #94595A;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links  {
    height: 50px;
    padding-top: 25px;
    padding-right: 15px;
}

.logo {
    height: 75px;
    width: auto;
    padding: 10px;

}

nav li {
    display: inline;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-links a {
    display: inline;
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: white;
}

.nav-links a:hover {
    color: #87BFE0;
}

/*  Mobile and Tablet */

@media  only screen and (max-width: 860px) {
    nav {
        justify-content: center;
    }
    
}

@media only screen and (max-width: 414px) {

    .logo {
        width: 100px;
        height: auto;
        align-self: center;
    }
    nav {
        flex-direction: column;
    }
}

/* Hero */

#banner {
    background-image: url('https://images.unsplash.com/photo-1526889588514-2e695856df85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1167&q=80');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    overflow-wrap: break-word;
    top: 50%;
    text-align: center;
    padding: 25px;
    background-color: rgba(227, 226, 182, 0.85);
}

.contact-button {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}

.contact-button:hover {
    background-color: #6c9bb6;
    color: white;
}


/* Mobile and Tablet */

@media only screen and (max-width: 860px) {
    #banner {
        height: 500px;
    }
}

@media only screen and (max-width: 471px) {
    .cta {
        top: 30%;
    }

    .cta h1 {
        font-size: 2rem;
    }

    .cta h3 {
        font-size: 1.2rem;
    }
}

/* About */

#about {
    background-color: #E09D9E;
    display: flex;
    flex-direction: row;
    padding: 30px;
    
}

#about h2 {
    text-align: right;
    margin-right: 30px;
}

#about p {
    padding: 30px;
}

#about img {
    display: inline-block;
    width: 250px;
    margin-top: 100px;
}

/* Mobile and Tablet */

@media only screen and (max-width: 860px) {
    #about {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #about h2 {
        text-align: center;
        font-size: 2rem;
    }

    #about p {
        padding: 0;
        font-size: 1.2rem;
    }

    #about img {
        margin-top: 0;
        position: relative;
    }
}

/* Testimonials */

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E0E0B4;
    
}

.quote {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 30px;

}

/* Mobile and Tablet */

@media only screen and (max-width: 680px) {
    .testimonials {
        display: flex;
        flex-direction: column;
    }

    .quote {
        padding: 15px;
        font-size: 1.3rem;
    }
}


/* Contact */

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #87BFE0;
}

.map {
    display: flex;
    align-self: center;
    margin-left: 100px;
    margin-bottom: 50px;
}
.contact-info {
    background-color: #87BFE0;
}

.email {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

/* Mobile and Tablet */

@media only screen and (max-width: 680px) {
    #contact {
        flex-direction: column;
    }

    .map {
        margin-left: 0;
        margin-bottom: 20px;
    }
}


/* Footer */

.footer {
    height: 75px;
    background-color: #94595A;
    display: flex;
    justify-content: space-between;
}

.copyright {
    position: relative;
    top: 10px;
    padding-left: 20px;
    color: white;

}

.social {
    padding-top: 15px;
    padding-right: 15px;
}

.social img {
    width: 30px;
    height: auto;
    padding: 0 5px 0 5px;
}

/* Mobile and Tablet */

@media only screen and (max-width: 414px) {
    .footer {
        height: 110px;
        flex-direction: column;
    }

    .copyright {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }

    .social {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}

