* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('Images/pattern.jpg');
}

.supply-image {
    width: 200px;
}

.supply-price {
    color: blue;
}

.supply-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes-title {
    background-color: mediumspringgreen;
}

#frames-title {
    background-color: lightcoral;
}

#paint-title {
    background-color: skyblue;
}