/* Text Styling*/
h1 { 
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 44px;
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 35px;
    text-transform: uppercase;
}

h2 {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
    text-align: center;
    font-size: 25px;
}

h3 {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
    text-align: center;
    font-size: 18px;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
}

/* Structural Styling*/
.color-palette h2 {
    text-decoration: underline;
}
.color-palette div {
    display: inline-block;
    padding: 30px;
    min-width: 70px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 0 auto;
}

.color-palette {
    min-width: 80%;
    margin: 0 auto;
    border: 5px double gray;
    padding: 5px;
}

.fonts {
    border: 5px double gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px 20px 20px;
    text-align: center;
}

.fonts h2 {
    text-decoration: underline;
}

.text-styles {
    border: 5px double gray;
    text-align: center;
    padding: 5px;
}

/* Element Styling */


.color-seablue { 
    background-color:#3864B5;
    color: #FFF;
}

.color-babyblue {
    background-color: #85AFFF;
    color: #FFF;
}

.color-earth {
    background-color: #FFAD9E;
}

.color-lemon {
    background-color: #E8FFB8;
}

.color-copper {
    background-color: #B34A37;
    color: #FFF;
}

.color-gold {
    background-color: #FFAD1E;
}

