html {
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    max-width: 1200px;
    margin: 0 auto;
}

/* General Styles */

body {
    background-color: black;
    text-align: center;

}


/* Header & Main Navigation */

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: -5px;
    height: 69px;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.navigation-links li {
    list-style: none;
    display: inline-flex;
    padding: 0 5px 0 5px;
}

a {
    color: seashell;
    font-family: Helvetica;
}

/* Page Layout */

.hero-banner {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1200px;

}

.the-mission {
    background-color: black;
    opacity: 1;
    position: relative;
    top: 300px;
    padding: 1px;
}

.the-mission h2 {
    text-align: center;
}

.gallery {
    width: 1000px;
    margin: 0 auto;
}

.tea-gallery img {
    width: 300px;
    height: 200px;
}

.tea-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stores h2 {
    padding: 50px 0 0 0;
}
.stores {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.locations {
    display: flex;
    justify-content: space-around;
}

.address {
    background-color: black;
    opacity: 1;
    text-align: center;
    padding: 30px;
    width: 300px;
}

.footer {
    height: 200px;
}

.copyright {
    float: left;
    margin-left: 20px;
}